*{
    padding: 0px;
    margin: 0px;
}

#nav{
    margin-bottom: 3rem;
}
.navbar{
    padding: 20px;
    border-radius: 15px;
}

#title{

    text-align: center;
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
    margin:5px;
}